# Build files
dist/

# Node modules
node_modules

# Environment variables, never commit these
.env
.env.*

# Example and CI environments should be committed
!*.example
!.env.ci
!.env.staging

# When npm runs error it write logs to the below file
npm-debug.log

# ESLint cache file
.eslintcache

# IDE
.idea
.graphqlconfig

# Operating System files
.DS_Store
